**/.DS_Store
/node_modules
/_*/

/.bundle
/.circleci
/.dockerignore
/.elasticbeanstalk
/.env*
/.git
/.gitignore
/.rspec
/.rubocop*
/.qa_server_app

/coverage/*
/db/*.sqlite3
/log/*.log
/spec/*
/tmp/*
/vendor/*

/docker-compose.yml
