[
  {
    "ParameterKey": "AWSAccountId",
    "ParameterValue": ""
  }, 
  {
    "ParameterKey": "AWSVpcId",
    "ParameterValue": ""
  }, 
  {
    "ParameterKey": "TaskDefinitionName",
    "ParameterValue": ""
  }, 
  {
    "ParameterKey": "S3BucketName",
    "ParameterValue": ""
  }, 
  {
    "ParameterKey": "EnvFileName",
    "ParameterValue": ""
  }, 
  {
    "ParameterKey": "DomainName",
    "ParameterValue": ""
  }, 
  {
    "ParameterKey": "ImageLocation",
    "ParameterValue": ""
  }, 
  {
    "ParameterKey": "VolumeId",
    "ParameterValue": ""
  }, 
  {
    "ParameterKey": "AuthorityAccessPointId",
    "ParameterValue": ""
  }, 
  {
    "ParameterKey": "DatabaseAccessPointId",
    "ParameterValue": ""
  }
]
