[
  {
    "ParameterKey": "AWSVpcId",
    "ParameterValue": ""
  }, 
  {
    "ParameterKey": "SubnetIds",
    "ParameterValue": ","
  }, 
  {
    "ParameterKey": "S3BucketName",
    "ParameterValue": ""
  }, 
  {
    "ParameterKey": "EFSDatabaseAccessPoint",
    "ParameterValue": ""
  }, 
  {
    "ParameterKey": "EFSAuthoritiesAccessPoint",
    "ParameterValue": ""
  }, 
  {
    "ParameterKey": "EFSName",
    "ParameterValue": ""
  }
]
